html {
    overflow-y: scroll;
    background: #f0eee6;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

@media (min-width: 1890px) and (max-width: 8000px) {
    @font-face {
        font-family: 'Montserrat Alternates';
        src: url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Cruinn';
        src: url('../fonts/ofont.ru_Cruinn.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Hero';
        src: url('../fonts/ofont.ru_Hero.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'UrbanSlavic';
        src: url('../fonts/UrbanSlavic.otf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Calypso';
        src: url('../fonts/ofont.ru_Calypso.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bergamasco';
        src: url('../fonts/ofont.ru_Bergamasco.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lab Grotesque';
        src: url('../fonts/LabGrotesque-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    /* Верхнее Меню */
    .logo {
        display: flex;
        height: 35%;
    }

    .nazvanie a {
        text-decoration: none;
        color: #582F0E;
        font-weight: 500;
        font-size: 72px;
        font-family: "UrbanSlavic";
    }

    .logotype {
        display: flex;
        justify-content: flex-start;
        padding-left: 4%;
        padding-top: 6px;
        flex: 0.25;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        flex: 0.75;


    }


    .menu a {
        color: #333D29;
        text-decoration: none;
        font-family: 'Montserrat Alternates';
        font-weight: 600;
        font-size: 32px;
        padding-top: 30px;
        margin-right: 50px;
        padding-bottom: 30px;
    }

    .menu a:hover,
    .menu a:focus,
    .menu a:active {
        text-decoration: underline;
    }

    .block1 {
        position: relative;
        width: 100%;
        height: 933px;
        background: #cdd1bc;

    }

    .block1 h1 {
        font-weight: 700;
        font-size: 96px;
        font-family: 'Montserrat Alternates';
        color: #FFF;
        position: absolute;
        top: 100px;
        left: 100px;
        width: 1200px
    }

    .block1 h3 {
        font-weight: 800;
        font-size: 40px;
        font-family: 'Hero';
        color: #FFF;
        position: absolute;
        top: 400px;
        left: 100px;
    }


    .button {
        position: absolute;
        bottom: 200px;
        left: 100px;
        width: 380px;
        height: 60px;
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        border-radius: 25px;
        border: 5px solid #fff;
        background-color: #cdd1bc;
        padding-left: 20px;
        padding-top: 20px;
        z-index: 2;
        cursor: pointer;


        text-decoration: none;
    }

    .button:hover {
        border: 5px solid #333D29;
        color: #333D29;
    }

    .button:active {
        border: 5px solid #2B2920;
        color: #2B2920;
    }

    .karta {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }

    .block2,
    .block5,
    .onasblock1,
    .onasblock3 {
        position: relative;
        width: 96%;
        border-radius: 25px;
        height: 1080px;
        background: #cdd1bc;
        margin-left: auto;
        margin-right: auto;
    }

    .block2 h1 {
        font-weight: 1200;
        font-size: 76px;
        font-family: 'Montserrat Alternates';
        color: #2B2920;
        position: absolute;
        top: 40px;
        left: 160px;
        width: 870px;
    }

    .block2 p {
        font-weight: 400;
        font-size: 32px;
        font-family: 'Lab Grotesque';
        color: #414833;
        position: absolute;
        top: 300px;
        left: 180px;
        width: 50%;
    }


    .block3 h1,
    .block4 h1,
    .onasblock2 h1 {
        font-family: 'Montserrat Alternates';
        font-weight: 700;
        font-size: 96px;
        color: #754C24;
        margin-top: 70px;
        margin-left: 80px;
    }

    .marshrblock {
        margin-right: 50px;
        margin-left: 50px;
        width: 411px;
        height: 503px;
        border-radius: 15px;
        background: #A98467;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        position: relative;
    }

    .marshrblock h1 {
        position: absolute;
        top: -40px;
        left: -50px;
        color: #FFF;
        font-weight: 600;
        font-size: 36px;
        font-family: "Montserrat Alternates";
    }

    .marshrblock p {
        position: absolute;
        top: 100px;
        left: 30px;
        width: 320px;
        color: #FFF;
        font-weight: 400;
        font-size: 32px;
        font-family: "Montserrat Alternates";
    }

    .buttonizuch {
        position: absolute;
        bottom: 80px;
        left: 20px;
        width: 370px;
        height: 60px;
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        border-radius: 15px;
        border: 2px solid #fff;
        background-color: #A98467;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    .buttonizuch:hover {
        border: 2px solid #754C24;
        color: #754C24;
    }

    .buttonizuch:active {
        border: 2px solid #754C24;
        color: #754C24;
        box-shadow: 2px 2px 4px #754C24;
    }

    .buttonlike {
        position: absolute;
        bottom: 20px;
        left: 20px;
        cursor: pointer;
        fill: #754C24;
        color: #754C24;
    }

    .button1, .button2, .button3 {
        cursor: pointer;
    }

    .buttonlike1:hover {
        stroke: #333D29;
        stroke-width: 10px;

    }

    .buttonexport:hover {
        fill: #fff;
        stroke-width: 11px;
    }


    .buttonexport {
        position: absolute;
        bottom: 18px;
        left: 80px;
        cursor: pointer;
    }

    .marshblocks {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 150px;
    }

    .svg {
        stroke-width: 100px;
        stroke: #a58890;
    }

    .phot {
        position: absolute;
        margin-top: 320px;
        width: 35%;
        height: 35%;
        padding-left: 63%;

    }

    .phot1 {
        position: absolute;
        margin-top: 0px;
        width: 35%;
        height: 35%;
        padding-left: 0%;
    }

    .imgbelka {
        padding-top: 8px;
    }


    .photo {
        width: 450px;
        height: 377px;
        border-radius: 15px;
        background: #D9D9D9;
        margin-right: 50px;
        margin-left: 50px;
    }

    .photos {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .block5 h1 {
        font-weight: 700;
        font-size: 96px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        position: absolute;
        top: 40px;
        left: 100px;
        width: 1500px;
    }

    .onasblock1 h1 {
        top: 60px;
        left: 60px;
        font-weight: 700;
        font-size: 96px;
        font-family: 'Montserrat Alternates';
        color: #2B2920;
        position: absolute;
        width: 1300px
    }

    .onasblock3 h1 {
        width: 1200px;
        font-weight: 700;
        font-size: 96px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        position: absolute;
        top: 80px;
        left: 150px;
    }

    .block5 p1,
    .block5 p2,
    .block5 p3 {
        font-weight: 600;
        font-size: 36px;
        color: #fff;
        font-family: 'Cruinn';
        position: absolute;
        top: 440px;
        left: 100px;


    }

    .block5 p2 {
        top: 540px;
        left: 100px;
    }

    .block5 p3 {
        top: 640px;
        left: 100px;
    }

    .buttonvibor {
        position: absolute;
        top: 800px;
        left: 660px;
        width: 350px;
        height: 75px;
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        border-radius: 25px;
        border: 2px solid #fff;
        background-color: #cdd1bc;
        cursor: pointer;
    }

    .buttonvibor:hover {
        border: 2px solid #333D29;
        color: #333D29;
    }

    .buttonvibor:active {
        border: 2px solid #2B2920;
        color: #2B2920;
    }

    .footer {
        margin-top: 80px;
        padding: 30px;
        background-color: #FBFAF8;
    }

    .footermenu {
        padding-top: 40px;
    }

    .footermenu a {
        color: #333D29;
        text-decoration: none;
        font-family: 'Montserrat Alternates';
        font-weight: 600;
        font-size: 24px;
        margin-left: 80px;
    }

    .svyzi {
        display: flex;
        flex-direction: row;

    }

    .svyz h1 {
        font-weight: 600;
        font-size: 24px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
    }

    .svyz h2 {
        margin-top: 40px;
        font-weight: 500;
        font-size: 24px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
    }

    .svyz {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 80px;
    }

    .rectangle1 {
        width: 388px;
        height: 491px;
        top: 300px;
        left: 300px;
    }

    .onasblock1 p {
        font-weight: 400;
        font-size: 32px;
        font-family: 'Lab Grotesque';
        color: #414833;
        position: absolute;
        top: 300px;
        padding-left: 45%;
        width: 50%;
    }

    .onasblock2 h2 {
        font-weight: 300;
        font-size: 64px;
        color: #a58890;;
        font-family: 'Bergamasco';
        margin-left: 200px;
        margin-top: 100px;
    }

    .onasblock2 p,
    li {
        font-weight: 200;
        font-size: 24px;
        font-family: 'Hero';
        color: #414833;
        margin-left: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 1500px;

    }

    ol {
        list-style-type: none;
        counter-reset: num;
        margin-right: 80px;
        list-style-type: none;

    }

    ol li:before {
        content: counter(num);
        counter-increment: num;
        font-family: 'Bergamasco';
        margin-right: 105px;

        color: #A98467;
        font-weight: 300;
        font-size: 64px;
        font-weight: bold;
        content: counter(num);

        text-align: center;

    }

    .onasblock3 h2 {
        font-weight: 400;
        font-size: 64px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        position: absolute;
        top: 400px;
        left: 150px;
    }

    .onasblock3 p,
    .onasblock3 p1 {
        font-weight: 400;
        font-size: 42px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        position: absolute;
        top: 520px;
        left: 150px;
    }

    .onasblock3 p1 {
        top: 620px;
        left: 150px;
    }

    .formabacktelegram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 10px 100px;
    }

    .inputname,
    .inputemail,
    .inputmessage {
        color: #414833;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 32px;
        position: absolute;
        top: 0px;
        left: 10px;
        padding: 10px;
        border: none;
        border-radius: 15px;
        width: 635px;
        height: 51px;
        background: #F0EEE6;
    }

    .inputemail {
        top: 100px;
        left: 10px;
    }

    .inputname::placeholder, .inputemail::placeholder, .inputmessage::placeholder {
        font-family: 'Hero';
        color: #414833;
    }

    .inputmessage {
        width: 635px;
        height: 133px;
        top: 200px;
        left: 10px;
        max-height: 175px;
        max-width: 2500px;
    }

    .name:focus {
        border: none;
        border-color: #fff;
    }

    .buttonotpr {
        position: absolute;
        bottom: 80px;
        left: 150px;
        width: 350px;
        height: 75px;
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        font-family: 'Montserrat Alternates';
        border-radius: 25px;
        border: 2px solid #fff;
        background-color: #cdd1bc;
        cursor: pointer;
    }

    .buttonotpr:hover {
        border: 2px solid #333D29;
        color: #333D29;
    }

    .buttonotpr:active {
        border: 2px solid #2B2920;
        color: #2B2920;
    }

    .strname {
        display: flex;
    }

    .strname h1 {
        flex: 2;
        font-family: 'Montserrat Alternates';
        color: #333D29;
        font-weight: 700;
        font-size: 40px;
        padding-top: 50px;
        padding-left: 150px;
    }

    .strname h2 {
        flex: 1;
        font-family: 'Montserrat Alternates';
        color: #333D29;
        padding-top: 65px;
        padding-right: 50px;
        text-align: end;
        font-weight: 200;
        font-size: 24px;
    }

    .tovari {
        padding-top: 80px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        grid-auto-rows: min-content;
    }

    .tovar {
        position: relative;
        width: 380px;
        height: 480px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #FBFAF8;
        border-radius: 15px;
        text-align: center;
        margin-right: 35px;
        margin-left: 35px;
        place-items: center;
        align-self: center;
        justify-self: center;
    }

    .basket {
        position: absolute;
        left: 310px;
        top: 400px;
    }

    .tovar img {
        border-radius: 15px;
        width: 293px;
        height: 294px;
        background: #fff;
        margin-top: 25px;
    }

    .tovar p {
        position: absolute;
        left: 25px;
        top: 320px;
        text-align: center;
        font-family: 'Montserrat Alternates';
        font-weight: 200;
        font-size: 24px;
        color: #414833;
    }

    .tovar h1 {
        position: absolute;
        left: 25px;
        top: 325px;
        text-align: center;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 32px;
        color: #414833;
    }

    .tovar h2 {
        position: absolute;
        left: 30px;
        top: 400px;
        font-family: 'Hero';
        font-weight: 800;
        font-size: 28px;
        color: #414833;
    }

    .cardi {
        padding-top: 80px;
        display: grid;
        justify-content: center;
        flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-auto-rows: min-content;


    }

    .card {
        position: relative;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #FBFAF8;
        border-radius: 15px;
        border: 3px solid #fff;
        border-radius: 15px;
        width: 647px;
        height: 712px;

        place-items: center;
        align-self: center;
        justify-self: center;
    }

    .card img {
        width: 100%;
        border-radius: 10px;
        width: 647px;
        height: 365px;
    }

    .card h1 {
        position: absolute;
        left: 25px;
        top: 380px;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 32px;
        color: #414833;
        width: 450px;
    }

    .card p {
        position: absolute;
        left: 135px;
        top: 480px;
        font-family: 'Montserrat Alternates';
        font-weight: 300;
        font-size: 18px;
        color: #333d29;
    }

    .card h2 {
        position: absolute;
        left: 25px;
        top: 530px;

        font-family: 'Hero';
        font-weight: 600;
        font-size: 18px;
        color: #414833;
        width: 600px;
    }

    .rate {
        padding-left: 25px;
        display: flex;
    }

    .cafestars {
        position: absolute;
        left: 25px;
        top: 453px;
        width: 100px;
        height: 16px;
    }


    .cafecard {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fbfaf8;
        border-radius: 15px;
        border: 3px solid #fff;
        border-radius: 15px;
        width: 647px;
        height: 662px;
        margin-right: 120px;
        margin-left: 120px;
        position: relative;
        place-items: center;
        align-self: center;
        justify-self: center;

    }

    .cafecard img {
        width: 100%;
        border-radius: 15px;
    }

    .cafecard h1 {
        position: absolute;
        top: 380px;
        left: 25px;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 32px;
        color: #414833;
        width: 450px;
    }

    .cafecard p {
        position: absolute;
        top: 450px;
        left: 135px;
        font-family: 'Montserrat Alternates';
        font-weight: 300;
        font-size: 18px;
        color: #333d29;
    }


    .cafecard h2 {
        position: absolute;
        top: 500px;
        left: 25px;

        font-family: 'Hero';
        font-weight: 600;
        font-size: 20px;
        color: #414833;
        width: 600px;
    }

    .rate {
        padding-left: 25px;
        display: flex
    }

    .vhod h1 {
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        margin-bottom: 60px;
    }

    .vhod {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        width: 1339px;
        height: 711px;
        background: #fbfaf8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .vhodd {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .buttonvhod {
        appearance: none;
        border-radius: 15px;
        width: 258px;
        height: 40px;
        border: 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #cdd1bc;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 24px;
        color: #333d29;
        font-size: 18px;
        margin-top: 15px;

        cursor: pointer;
    }

    .buttonvhod:hover {
        background: #A98467;

    }

    .buttonvhod1:hover {
        background: #A98467;

    }

    .buttonvhod1 {
        appearance: none;
        border-radius: 15px;
        width: 258px;
        height: 40px;
        border: 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #cdd1bc;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 24px;
        color: #333d29;
        font-size: 18px;
        margin-top: 15px;
        transition-delay: 0.2s;
        cursor: pointer;
    }

    .text-field {
        margin-bottom: 15px;
    }

    .text-field__input {
        border-radius: 22px;
        width: 351px;
        height: 54px;
        padding: 0px 15px;
        font-family: 'Hero';
        font-weight: 200;
        font-size: 32px;
        color: #a58890;
        background: #F0EEE6;
        margin-bottom: 15px;
    }

    .text-field__input::placeholder {
        color: #a58890;
        opacity: 0.8;
    }

    .smallmenu {
        display: block;
        position: relative;
        flex: 1;
        margin-top: 55px;
        margin-left: 55px;
        border-radius: 33px;
        width: 331px;
        height: 705px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fbfaf8;
    }

    .namekab h1 {
        font-family: 'Montserrat Alternates';
        color: #333D29;
        font-weight: 700;
        font-size: 40px;
        padding-top: 50px;
        padding-left: 150px;
    }

    .smallmenu a {
        display: block;
        padding-top: 30px;
        font-weight: 600;
        font-size: 32px;
        color: #A98467;
        padding-left: 25px;
        text-decoration: none;
        font-family: 'Montserrat Alternates';
    }

    .smallmenu a:hover {
        color: #754C24;
        font-weight: 1200;
    }

    .lichndann {
        position: absolute;
        left: 550px;
        top: 252px;
        border-radius: 25px;
        width: 1169px;
        height: 705px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fbfaf8;
    }

    .tfieldinput {
        border: 0;
        border-radius: 15px;
        width: 580px;
        height: 58px;
        background: #F0EEE6;
        margin-bottom: 40px;
        padding-left: 15px;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 24px;
        color: #333d29;
    }

    .lichndann p {
        position: relative;
        padding-left: 80px;
        margin: 60px;
        font-weight: 600;
        font-size: 32px;
        color: #333d29;
        font-family: 'Hero';
    }

    .pole {
        position: absolute;
        left: 450px;
        top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .buttonsave {
        position: absolute;
        bottom: 80px;
        left: 450px;
        width: 429px;
        height: 61px;
        font-weight: 200;
        font-size: 32px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        border-radius: 25px;
        border: 2px solid #333d29;
        background-color: #fbfaf8;
        cursor: pointer;
    }

    .buttonsave:hover {
        border: 2px solid #000000;
        color: #000000;
    }

    .zakazi {
        position: absolute;
        left: 550px;
        top: 252px;
        width: 1169px;
        height: 705px;
        border: 4px solid #fff;
        border-radius: 25px;
        background: #F0EEE6;
    }

    .zakaz {
        position: relative;
        margin-left: 40px;
        margin-top: 50px;
        padding-left: 30px;
        display: flex;
        border-radius: 25px;
        width: 1042px;
        height: 60px;
        background: #FBFAF8;
    }

    .zakaz p {
        font-weight: 200;
        font-size: 32px;
        color: #333d29;
        font-family: 'Hero';
        padding-left: 15px;
        padding-top: 10px;
    }

    .namezakaz {
        display: flex;
    }

    .namezakaz h1 {
        font-weight: 500;
        font-size: 48px;
        color: #754C24;
        font-family: 'Montserrat Alternates';
        padding-left: 50px;
        padding-top: 30px;
    }

    .buttoncreate {
        margin-left: 420px;
        margin-top: 35px;
        width: 337px;
        height: 53px;
        font-weight: 400;
        font-size: 32px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        border-radius: 20px;
        border: 2px solid #333d29;
        background-color: #F0EEE6;
        cursor: pointer;
    }

    .buttoncreate:hover {
        border: 2px solid #000000;
        color: #000000;
        font-weight: 400;
    }

    .buttoncreate:active {
        border: 2px solid #2B2920;
        color: #2B2920;
    }

    .marsruty {
        position: absolute;
        left: 550px;
        top: 252px;
        width: 1169px;
        height: 755px;
        border: 4px solid #fff;
        border-radius: 25px;
        background: #F0EEE6;
    }

    .marsruty h1 {
        padding-top: 40px;
        padding-left: 50px;
        font-weight: 500;
        font-size: 36px;
        color: #754C24;
        font-family: 'Montserrat Alternates';
    }

    .marshr {
        position: relative;
        margin-left: 80px;
        margin-top: 30px;
        padding-top: 10px;
        border-radius: 25px;
        width: 1018px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #FBFAF8;
        fit: content;
        padding-bottom: 25px;

    }

    .namemarshr {
        display: flex;
    }

    .namemarshr p,
    .namemarshr a {

        display: block;
        margin-top: 10px;
        margin-left: 20px;
        font-weight: 200;
        font-size: 32px;
        color: #333d29;
        font-family: 'Hero';
        text-decoration: none;
    }

    .namemarshr a {
        margin-top: 10px;
    }

    .zayavka h1 {
        padding-top: 30px;
        padding-left: 45px;
        font-weight: 500;
        font-size: 48px;
        color: #88636d;
        font-family: 'Montserrat Alternates';
    }

    .zayavka p {
        padding-top: 40px;
        padding-left: 150px;
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 32px;
        color: #333d29;
        font-family: 'Hero';
    }

    .zayavka {
        position: relative;
        width: 1296px;
        height: 690px;
        border-radius: 25px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-left: auto;
        margin-right: auto;
        background: #fbfaf8;
        margin-top: 55px;
    }

    .zayvpole {
        position: absolute;
        left: 450px;
        top: 115px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .buttonprikr {
        margin-left: 700px;
        margin-top: 30px;
        width: 340px;
        height: 53px;
        font-weight: 400;
        font-size: 25px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        border-radius: 25px;
        border: 1px solid #333d29;
        background-color: #FBFAF8;
    }

    .buttonsozdat {
        margin-left: 800px;
        margin-top: 30px;
        width: 238px;
        height: 53px;
        font-weight: 400;
        font-size: 25px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        border-radius: 25px;
        border: 1px solid #333d29;
        background-color: #FBFAF8;
    }

    .namezayv {
        display: flex;
    }

    .editmarsr {
        margin-top: 55px;
        width: 1169px;
        height: auto;

        border: 4px solid #fff;
        border-radius: 25px;
        background: #F0EEE6;
        margin-left: auto;
        margin-right: auto;
    }

    .marsrname {
        display: flex;
    }

    .marsrname h1 {
        padding-top: 30px;
        padding-left: 45px;
        font-weight: 500;
        font-size: 48px;
        color: #754C24;
        font-family: 'Montserrat Alternates';
    }

    .exportm {
        margin-top: 45px;
        margin-left: 580px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .exportm:hover {
        fill: #fff;
        stroke-width: 11px;
    }

    .marsr {
        margin-left: 40px;
        margin-top: 50px;
        padding-left: 30px;

        border-radius: 25px;
        width: 1042px;
        height: 70px;
        background: #FBFAF8;
        position: relative;
        cursor: pointer;
    }

    .marsr p {
        position: absolute;
        font-weight: 200;
        font-size: 32px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        top: 18px;
        left: 65px;
        width: 2100px;
    }

    .editm {
        position: absolute;
        top: 18px;
        left: 955px;
        width: 42px;
        height: 42px;
    }

    .deletem {
        position: absolute;
        top: 18px;
        left: 1005px;
        width: 35px;
        height: 35px;
    }

    .deletem:hover {
        stroke: #333D29;
        stroke-width: 1px;
    }

    .plus {
        margin-left: 50px;
        margin-top: 30px;
        padding-bottom: 35px;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    .plus:hover {
        fill: #fff;

    }

    .circle3 {
        position: relative;
        margin-top: 22px;
        margin-left: -5px;
        width: 29px;
        height: 27px;
    }

    .turagentzakazi {
        position: absolute;
        left: 550px;
        top: 252px;
        width: 1169px;
        height: 755px;
        border: 4px solid #fff;
        border-radius: 25px;
        background: #F0EEE6;
    }

    .turagentzakaz {
        margin-left: 80px;
        margin-top: 30px;
        padding-top: 10px;
        border-radius: 25px;
        width: 1018px;
        height: 235px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #FBFAF8;
    }

    .nameturagentzakaz {
        display: flex;
    }

    .nameturagentzakaz p {
        margin-top: 10px;
        margin-left: 20px;
        font-weight: 200;
        font-size: 32px;
        color: #333d29;
        font-family: 'Hero';
    }

    .turagentzakazi h1 {
        padding-top: 40px;
        padding-left: 50px;
        font-weight: 500;
        font-size: 36px;
        color: #88636d;
        font-family: 'Montserrat Alternates';
    }

    .buttonvzyt {
        margin-top: 10px;
        margin-left: 700px;
        font-family: 'Montserrat Alternates';
        border: 1px solid #333d29;
        border-radius: 25px;
        width: 139px;
        height: 37px;
        font-weight: 400;
        font-size: 24px;
        color: #333d29;
        background: #FBFAF8;
    }

    .managers {
        display: flex;

    }

    .box1, .box2, .box3, .data {
        width: 330px;
        height: 40px;
        border: 1px solid #414833;
        font-size: 18px;
        color: #414833;
        background-color: #F0EEE6;
        border-radius: 15px;
        font-family: 'Montserrat Alternates';
        position: absolute;
        left: 660px;
        top: 440px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;


    }


    .data {
        width: 300px;
        left: 660px;
        top: 540px;

    }

    .box3 {
        left: 660px;
        top: 640px;
        padding-right: 115px;
    }

    html {
        scroll-behavior: smooth;
    }

    #buttonblock {
        height: 1000px;

    }

    #mblock {
        height: 1000px;


    }

    .mapclass {
        margin-left: auto;
        margin-right: auto;
        width: 70%;


    }

    .vhod h2 {

        font-weight: 600;
        font-size: 36px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        margin-bottom: 20px;
        margin-top: -150px;
    }

    .email_reg__input, .username_reg__input, .password1_reg__input, .password2_reg__input {
        border-radius: 22px;
        width: 351px;
        height: 50px;
        padding: 0px 15px;
        font-family: 'Hero';
        font-weight: 200;
        font-size: 24px;
        color: #333d29;
        background: #F0EEE6;
        margin-bottom: 15px;
    }

    .text-field__input::placeholder {
        color: #a58890;
        opacity: 0.8;
    }

    .boxfiltr {
        width: 320px;
        height: 40px;
        border: 1px solid #414833;
        font-size: 18px;
        color: #414833;
        background-color: #F0EEE6;
        border-radius: 15px;
        font-family: 'Montserrat Alternates';
        flex: 0.5;
        margin-top: 60px;
        margin-right: 50px;
        cursor: pointer;

    }

    .add {
        display: flex;
        flex-direction: row;
    }

    .buttonadd {
        margin-top: 50px;
        margin-left: 25px;
        border: 1px solid #333d29;
        border-radius: 15px;
        width: 198px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        background-color: #f0eee6;
        cursor: pointer;
    }

    .buttonadd:hover {
        border: 2px solid #000000;
        color: #000000;
    }

    .buttonsavem {
        margin-top: 50px;
        margin-left: 325px;
        border: 1px solid #333d29;
        border-radius: 15px;
        width: 198px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        color: #333d29;
        font-family: 'Montserrat Alternates';
        background-color: #f0eee6;
        cursor: pointer;
    }

    .buttonsavem:hover {
        border: 2px solid #000000;
        color: #000000;
    }

    .boxfiltrm {
        width: 320px;
        height: 40px;
        border: 1px solid #414833;
        font-size: 18px;
        color: #414833;
        background-color: #F0EEE6;
        border-radius: 15px;
        font-family: 'Montserrat Alternates';
        flex: 0.5;
        margin-top: 50px;
        margin-left: 40px;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .buttonregistr {
        appearance: none;
        border-radius: 15px;
        width: 258px;
        height: 40px;
        border: 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #cdd1bc;
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-size: 18px;
        color: #333d29;
        margin-top: 15px;
        transition-delay: 0.2s;
        cursor: pointer;
    }

    .buttonregistr:hover {
        background: #A98467;

    }


    @media screen and (min-width: 911px) {
        .ant-carousel {
            max-width: 810px;
        }
    }

    @media screen and (min-width: 641px) and (max-width: 8510px) {
        .ant-carousel, .ant-carousel2 {
            max-width: 1700px;
        }
    }

    @media screen and (max-width: 640px) {
        .ant-carousel, .ant-carousel2 {
            max-width: 270px;
        }
    }

    .ant-carousel, .ant-carousel2 {
        margin: 0px auto auto;
        margin-bottom: 101px;


    }

    .ant-carousel-element {
        width: 280px;
        text-align: center;
        margin-left: 15px;
        margin-right: 300px;
    }

    /* General styles */
    .ant-carousel, .ant-carousel2 {
        width: auto;
        position: relative;
    }

    .ant-carousel-hider, .ant-carousel-hider2 {
        overflow: hidden;
    }

    .ant-carousel-list, .ant-carousel-list2 {

        width: auto;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
    }

    .ant-carousel-element2 {
        width: 280px;

        margin-left: 15px;
        margin-right: 300px;
    }

    /* Navigation item styles */
    div.ant-carousel-arrow-left,
    div.ant-carousel-arrow-right,
    div.ant-carousel-arrow-left2,
    div.ant-carousel-arrow-right2 {
        width: 22px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        opacity: 0.6;
        z-index: 32;
    }

    /*стрелочки*/
    div.ant-carousel-arrow-left {
        left: -60px;
        top: 45%;
        display: block;
        background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;

    }

    div.ant-carousel-arrow-left2 {
        left: -40px;
        top: 45%;
        display: block;
        background: #000000;
        background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
    }

    /*стрелочки*/
    div.ant-carousel-arrow-right2 {
        right: -60px;
        top: 45%;
        display: block;
        background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
    }

    div.ant-carousel-arrow-right {
        right: -60px;
        top: 45%;
        display: block;
        background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
    }

    div.ant-carousel-arrow-left:hover {
        opacity: 1.0;
    }

    div.ant-carousel-arrow-right:hover {
        opacity: 1.0;
    }

    /*точки внизу*/
    div.ant-carousel-dots {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: -30px;
        z-index: 30;
        text-align: center;
    }

    /*точки внизу*/
    span.ant-dot {
        width: 10px;
        height: 10px;
        margin: 10px 7px;
        padding: 0;
        display: inline-block;
        background-color: #BBB;
        border-radius: 5px;
        cursor: pointer;

    }

    #map {
        width: 100%;
        height: 900px;
        min-width: 100vh;
        min-height: 80vh;

    }


    .ol-popup {
        position: absolute;
        background-color: #FBFAF8;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
        padding: 25px 25px 15px 35px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 10px;
        left: -50px;


    }

    .ol-popup:after,
    .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        cursor: pointer;
    }

    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
        cursor: pointer;
    }

    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
        cursor: pointer;

    }

    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;

    }

    .ol-popup-closer:after {
        content: '✖';
        cursor: pointer;
    }


    #popup-content {
        font-size: 14px;
        font-family: 'Montserrat Alternates';
        width: 205px;
        margin-bottom: 15px;


    }

    #popup-content .markerInfo {
        font-weight: bold;
    }

    #popup-content h1 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .marker:hover {
        cursor: pointer;
    }


    .buttonpodr {
        margin-left: -5px;

        width: 130px;
        height: 30px;
        font-weight: 400;
        font-size: 16px;
        color: #333D29;
        font-family: 'Montserrat Alternates';
        border-radius: 10px;
        border: 1px solid #333D29;
        background-color: #fff;
        padding-left: 2px;
        cursor: pointer;
        padding-bottom: 3px;
        margin-top: 15px;
        text-decoration: none;
    }

    .buttonpodr:hover {
        border: 1px solid #000000;
        color: #000000;
    }

    .buttonpodr:active {
        border: 1px solid #000000;
        color: #000000;
    }

    .ocenka {
        position: relative;
    }

    .love {
        position: absolute;
        left: 170px;
        bottom: 27px;
        cursor: pointer;
    }

    .love:hover {
        stroke: #333D29;
        stroke-width: 3px;
    }


    .buttonmesta {
        position: absolute;
        left: 25px;
        top: 660px;
        width: 160px;
        height: 40px;
        font-weight: 400;
        font-size: 20px;
        color: #333D29;
        font-family: 'Montserrat Alternates';
        border-radius: 15px;
        border: 2px solid #333D29;
        background-color: #fff;
        padding-left: 2px;
        padding-bottom: 3px;
        text-decoration: none;
        cursor: pointer;
    }

    .buttonmesta:hover {
        border: 2px solid #000000;
        color: #000000;
        font-weight: 600;
    }

    .buttonmesta:active {
        border: 2px solid #2B2920;
        color: #2B2920;
    }

    .tree1 {
        opacity: 0.5;
        position: absolute;
        padding-left: 60%;
        top: 370px;
        width: 229px;
        height: 333px;
    }

    .tree2 {
        opacity: 0.5;
        position: absolute;
        padding-left: 75%;
        top: 350px;
        width: 163px;
        height: 357px;
    }

    .tree3 {
        opacity: 0.5;
        position: absolute;
        padding-left: 63%;
        top: 150px;
        width: 261px;
        height: 572px;
    }

    .tree4 {
        opacity: 0.5;
        position: absolute;
        padding-left: 78%;
        top: 180px;
        width: 337px;
        height: 537px;
    }

    .girl {
        position: absolute;
        padding-left: 70%;
        top: 280px;
        width: 316px;
        height: 560px;
    }

    .branch1 {
        position: absolute;
        width: 284px;
        height: 417px;
        padding-left: 85%;
        top: -130px;
    }

    .branch2 {
        position: absolute;
        width: 213px;
        height: 378px;
        padding-left: -10%;
        top: 800px;
    }

    .mainicon {
        margin-left: 100px;
    }

    .line {
        text-align: center;
    }

    .leaf1 {
        width: 208px;
        height: 260px;
        margin-left: 86%;
        margin-top: 80px;
    }

    .leaf2 {
        width: 287px;
        height: 274px;
        margin-left: 82%;
        margin-top: 380px;
    }

    .love1 {
        width: 37px;
        height: 66px;
        position: absolute;
        left: 1400px;
        top: 400px;
    }

    .flower {
        width: 248px;
        height: 275px;
        padding-left: 80%;
        margin-top: 20px;
    }

    .stars {
        position: absolute;
        left: 25px;
        top: 483px;
    }

    #marshpopup-overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        z-index: 999;
    }


    .love2 {
        width: 29px;
        height: 48px;
        position: absolute;
        margin-right: 410px;
        margin-bottom: 310px;
    }

    .love3 {
        width: 29px;
        height: 48px;
        position: absolute;
        margin-right: -410px;
        margin-bottom: 310px;
    }

    .circle1 {
        position: relative;
        margin-top: 18px;
        margin-left: 25px;
        width: 29px;
        height: 27px;
    }

    .edit1:hover, .edit2:hover, .edit3:hover, .edit4:hover {
        fill: #333D29;

    }

    .editzakaz:hover {
        fill: #333D29;

    }

    .edit1 {
        position: absolute;
        left: 900px;
        top: 20px;
        width: 37px;
        height: 37px;
        cursor: pointer;
    }

    .edit2 {
        position: absolute;
        left: 900px;
        top: 70px;
        width: 37px;
        height: 37px;
        cursor: pointer;
    }

    .edit3 {
        position: absolute;
        left: 900px;
        top: 120px;
        width: 37px;
        height: 37px;
        cursor: pointer;
    }

    .edit4 {
        position: absolute;
        left: 900px;
        top: 170px;
        width: 37px;
        height: 37px;
    }

    .export1:hover, .export2:hover, .export3:hover, .export4:hover {
        fill: #f0eee6;
        stroke-width: 11px;
    }


    .export1 {
        position: absolute;
        left: 960px;
        top: 20px;
        width: 36px;
        height: 36px;
        cursor: pointer;
    }

    .export2 {
        position: absolute;
        left: 960px;
        top: 70px;
        width: 36px;
        height: 36px;
        cursor: pointer;

    }

    .export3 {
        position: absolute;
        left: 960px;
        top: 120px;
        width: 36px;
        height: 36px;
        cursor: pointer;

    }

    .export4 {
        position: absolute;
        left: 960px;
        top: 170px;
        width: 36px;
        height: 36px;
        cursor: pointer;

    }

    .circlezakaz {
        position: relative;
        margin-top: 18px;
        margin-left: 0px;
        width: 29px;
        height: 27px;
    }

    .editzakaz {
        position: absolute;
        left: 950px;
        top: 10px;
        width: 42px;
        height: 42px;
        cursor: pointer;
    }

    .deletezakaz {
        position: absolute;
        left: 1010px;
        top: 10px;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    .deletezakaz:hover {
        stroke: #333D29;
        stroke-width: 1px;
    }

    wrapper1 {
        display: none;
    }

    .menu1 {
        display: none;
    }

    .menu_active {
        display: none;
    }

    .menu-list {
        display: none;
    }

    .menu-list a {
        display: none;

    }

    .menu-icon {
        display: none;
    }

    .smallmenu1 {
        display: none;
    }

    .smallmenu1 a {
        display: none;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
    .longdescr {
        display: flex;
        align-items: center;

        flex-direction: column;

    }

    .longdescr h1 {
        font-weight: 700;
        font-size: 52px;
        color: #2B2920;
        font-family: 'Montserrat Alternates';
        text-align: start;
        width: 800px;
        padding-top: 100px;
    }

    .longdescr p {
        font-weight: 400;
        font-size: 32px;
        color: #414833;
        font-family: 'Lab Grotesque';
        text-align: start;
        padding-top: 50px;
        width: 800px;

    }

    .img1 {
        margin-top: 20px;
        width: 800px;
        height: 400px;
        border-radius: 15px;
    }

    .back {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 210px;
        left: 280px;

    }


}