html {
    overflow-y: scroll;
}

@font-face {
    font-family: 'Cruinn';
    src: url('fonts/ofont.ru_Cruinn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('fonts/ofont.ru_Hero.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UrbanSlavic';
    src: url('fonts/UrbanSlavic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Верхнее Меню */
.logo {
    display: flex;
    height: 35%;
    background: white;
}

.nazvanie a {
    text-decoration: none;
    color: #582F0E;
    font-weight: 700;
    font-size: 3em;
    font-family: "UrbanSlavic";
}

.logotype {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
}

.put {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    font-family: "Cruinn";
    color: #333D29;
}

.lkab {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-family: 'Cruinn';
    color: #333D29;
    text-decoration: none;
    padding-right: 4%;
}

.lkab:hover {
    text-decoration: underline;
}

/* Нижнее Меню */
.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;

}

.menu a {
    color: #333D29;
    text-decoration: none;
    font-family: 'Cruinn';
    font-weight: 1000;
    font-size: 32px;
    padding:1% 7%;

}

.menu a:hover, .menu a:focus {
    color: #6C584C;
    outline: none;
}

.menu a:active {
    color: #6C584C;
    outline: none;
}

.karta {
    padding: 5% 30%;
}

/* Вход личного кабинета */
.vhod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

    margin: 10px 100px;
}

.buttonvhod{
appearance: none;
    border: 0;
    border-radius: 22px;
    background: #582F0E;
    color: #fff;
    font-family: 'Cruinn';
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin-top: 15px;
    margin-left:6px;
    transition-delay: 0.2s;}

.buttonvhod:hover {
  color: #fff;
  background-color: #402611;
  border-color: #0a58ca;
    }

    

input[type="email"], input[type="password"], textarea {

    background-color: #DAD7CD;
    font-family: 'Cruinn';
    border-radius: 15px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    margin: 5px;
}



.vhod p {
    text-align: center;
    color: #582F0E;
    font-family: 'Cruinn';
    font-weight: 300;
    font-size: 38px;
    text-decoration: none;

}



/* Магазин */
.tovari {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tovar {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.odezda {
    padding: 10px 90px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.tovname {
    color: #582F0E;
    font-family: 'Cruinn';
    font-weight: 300;
    font-size: 28px;
    margin: 0 -10px;
}

.price {
    margin: 0 -10px;
    color: #582F0E;
    font-family: 'Hero';
    font-weight: 300;
    font-size: 24px;
}

/* О нас */
.infa {
    margin-top: 3%;
    text-align: justify;
}

.photka {
    float: left;
    margin-left: 10%;
    border-radius: 25px;
}

.infa p {
    color: #582F0E;
    font-family: 'Cruinn';
    font-weight: 600;
    font-size: 24px;
    width: 950px;
    line-height: 40px;
    text-indent: 70px;
    margin-left: 35%;

}

/* Места */
.mestosl {
    margin-top: 3%;
    text-align: justify;
}

.photomestasl {
    float: left;
    margin-left: 6%;
}

.mestosl p {
    color: #582F0E;
    font-family: 'Cruinn';
    font-weight: 600;
    font-size: 24px;
    width: 1150px;
    line-height: 40px;
    text-indent: 50px;
    margin-left: 25%;
    margin-bottom: -1%;
}

.mestosp {
    margin-top: 5%;
    text-align: justify;
}

.photomestasp {
    float: right;
    margin-right: 3%;
}

.mestosp p {
    color: #582F0E;
    font-family: 'Cruinn';
    font-weight: 600;
    font-size: 24px;
    width: 1100px;
    line-height: 40px;
    text-indent: 50px;
    margin-left: 6%;
    margin-bottom: -1%;
}

/*Кафе*/
.cafephoto {
    float: left;
    margin-left: 6%;
    border-radius: 25px;
}

.cafe {
    margin-top: 5%;
    text-align: justify;
}

.cafe h1, h2, h3 {
    color: #582F0E;
    font-family: 'Cruinn';
    text-indent: 50px;
    margin-left: 6%;

}

.cafe h1 {
    font-weight: 900;
    font-size: 32px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.cafe h2 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 50px;
}

.cafe h3 {
    font-weight: 500;
    font-size: 20px;
}

/*Личный кабине*/
.routes {
    display: flex;
    flex: 3;
    justify-content: center;
    flex-direction: row;
    padding-top: 2%;
}

.route {
    border: #582F0E solid 3px;
    background: #F5F5DC;
    width: 210px;
    height: 350px;
    border-radius: 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #582F0E;
    font-family: 'Cruinn';
    font-weight: 300;
    font-size: 26px;
    padding: 10px 80px;
    margin: 10px 70px;
}

.route h1 {
    font-size: 28px;
    padding: -10px 80px;
    margin: 10px 10px;
}

.route p {
    margin: 15px;
}

.numbermar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.settphoto {
    padding-bottom: 3%;
}

