{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>БелкаГид</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">

</head>
<body>
<header>
    <div class="logo">
        <div class="logotype">
            <div class="nazvanie"><a href="/">БелкаГид</a></div>
            <img class="photo" src="{% static 'img/белка.jpg' %}" alt="" width="55"
                 height="55">
        </div>

        <div class="put">Твой путеводитель по Зеленограду</div>
        <a class="lkab" href="../login">Личный кабинет</a>
    </div>
    <hr align="center" width=100% size="2.5" color="#6C584C"/>

    <div class="menu">
        <a style="color:#6C584C;" href="../about">О нас</a>
        <a href="../places">Интересные места</a>
        <a href="../cafe">Кафе и рестораны</a>
        <a href="../shop">Магазин</a>
    </div>
    <hr align="center" width=100% size="2.5" color="#6C584C"/>
</header>
<div class="infa">
    <img class="photka" src="{% static 'img/Нюта0092.jpg' %}" alt="" width="20%" height="20%">
    <p>Сайт БелкаГид — это настоящий технический шедевр, который не только визуально привлекателен, но и технически
        безупречен, благодаря Ане и Мише их профессионализму и преданности своему делу.</p>
    <p>У сайта БелкаГид потрясающий дизайн, который создан Аней, нашим умелым фронтенд-разработчиком. Ее творческий
        подход делает пользовательский интерфейс простым и легким для использования.</p>
    <p>Миша, наш бэкенд-гуру, заложил основу сайта БелкаГид, обеспечивая надежность и высокую производительность. Он
        создал мощную инфраструктуру, которая делает функционал сайта плавным и безупречным.</p>
    <p>Благодаря работе Ани и Миши, сайт БелкаГид стал не просто информационным ресурсом, а местом, где пользователи
        чувствуют себя комфортно и находят все необходимое с легкостью.</p>

</div>
</body>

</html>