{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<title>БелкаГид</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">

<body>
<header>
    <div class="logo">
        <div class="logotype">
            <div class="nazvanie"><a href="/">БелкаГид</a></div>
            <img class="photo" src="{% static 'img/белка.jpg' %}" alt="" width="55"
                 height="55">
        </div>

        <div class="put">Твой путеводитель по Зеленограду</div>
        <a class="lkab" href="../profile">Личный кабинет</a>
    </div>
    <hr align="center" width=100% size="2.5" color="#6C584C"/>

    <div class="menu">
        <a href="../about">О нас</a>
        <a href="../places">Интересные места</a>
        <a href="../cafe">Кафе и рестораны</a>
        <a href="../shop">Магазин</a>
    </div>
    <hr align="center" width=100% size="2.5" color="#6C584C"/>
</header>


</div>
<div class="routes">
    <div class="route">
        <div class="numbermar">

            <h1>Маршрут </h1>
            <h1>№1</h1>
            <img class="settphoto" src="{% static 'img/change.png' %}" alt="" width="30"
                 height="30">
        </div>
        <p>Штыки</p>
        <p>Площадь Юности</p>
        <p>Центральная площадь</p>

    </div>

    <div class="route">
        <div class="numbermar">

            <h1>Маршрут </h1>
            <h1>№2</h1>
            <img class="settphoto" src="{% static 'img/change.png' %}" alt="" width="30"
                 height="30">
        </div>
        <p>Парк</p>
        <p>Музей</p>
        <p>Центральная Площадь</p>

    </div>
    <div class="route">
        <div class="numbermar">

            <h1>Маршрут </h1>
            <h1>№3</h1>
            <img class="settphoto" src="{% static 'img/change.png' %}" alt="" width="30"
                 height="30">
        </div>
        <p>Парк</p>
        <p>Парк</p>
        <p>Музей</p>

    </div>
</div>
</body>
</html>