{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<title>БелкаГид</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">


<body>
<header>
    <div class="logo">
        <div class="logotype">
            <div class="nazvanie"><a href="/">БелкаГид</a></div>
            <img class="photo" src="{% static 'img/белка.jpg' %}" alt="" width="55"
                 height="55">
        </div>

        <div class="put">Твой путеводитель по Зеленограду</div>
        <a class="lkab" href="../login">Личный кабинет</a>
    </div>
    <hr align="center" width=100% size="2.5" color="#6C584C"/>

    <div class="menu">
        <a href="../about">О нас</a>
        <a style="color:#6C584C;" href="../places">Интересные места</a>
        <a href="../cafe">Кафе и рестораны</a>
        <a href="../shop">Магазин</a>
    </div>
    <hr align="center" width=100% size="2.5" color="#6C584C"/>
</header>


<div class="mestosl">
    <img class="photomestasl" src="{% static 'img/59.png' %}" alt="" width="15%" height="15%">
    <p><b>Храм святителя Николая Мирликийского</b>(Никольская церковь,церковь Николая Чудотворца) — православный храм в
        Зеленоградскомадминистративном округе Москвы. Относится к Зеленоградскому благочинию Московской епархии Русской
        православной церкви.
        <br>Комплекс состоит из собственно храма, колокольни (спомещениями воскресной школы) и келий монахинь. Храм и
        колокольня являютсясамыми старыми зданиями на территории города, а стилизованное изображение храмаиспользуется
        во флаге и гербе района Савёлки.
        <br>Храм стоит на месте, ранее принадлежавшем московскому Новинскому монастырю. Первый (деревянный) храм,
        освящённый в честь святителя Николая Мирликийского, был построен в 1756 году. Рядом с храмом расположено
        Никольское кладбище, основанное в том же году.</p>

</div>
<div class="mestosp">
    <img class="photomestasp" src="{% static 'img/60.png' %}" alt="" width="22%" height="22%">
    <p><b>Ведогонь-театр</b> — единственный профессиональный драматическийтеатр Зеленограда. Основан в 1985 году, как
        детская студия театральногоискусства, выросшая до взрослого профессионального театра.

        <br> Театр не следует путать с зеленоградским детско-юношескимцентром Ведогонь (основан в 1993 году), при
        котором функционирует детскийрепертуарный театр (непрофессиональный).
        <br>Основан в 1985 году группой выпускников ВТУ им. М. С.Щепкина Павлом Курочкиным и Еленой Шкурпело, как
        детская студия театральногоискусства</p>
</div>
</body>
