{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>БелкаГид</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/main1.css' %}">
    <link rel="stylesheet" href="{% static 'css/main2.css' %}">
    <link rel="stylesheet" href="{% static 'css/main3.css' %}">
    <link rel="stylesheet" href="{% static 'css/main4.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <script src="{% static 'openlayers/dist/ol.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'openlayers/ol.css' %}">
    <script src="{% static 'lightbox2-2.11.4/dist/js/lightbox-plus-jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lightbox2-2.11.4/dist/css/lightbox.min.css' %}">


</head>
<div id="popup" class="ol-popup">
    <a id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

<div id="snackbar">Всплывающее сообщение с информацией..</div>
<body>

{{ order.route }}
{{ order.date }}
{{ order.persons }}
{{ email}}

<div class="mapclass">
    <div id="map" class="map"></div>

    <script>

        function callToast(message, time) {
            var x = document.getElementById("snackbar");
            x.className = "show";
            x.innerText = message;
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, time);
        }

        const places_json = {{ places|safe }};

        const popup = new ol.Overlay({
            element: document.getElementById('popup')
        });


        var scale = 512;
        var extent = [-scale, -scale, scale, scale];
        var projection = new ol.proj.Projection({
            code: 'static-image',
            units: 'pixels',
            extent: extent
        });

        var map = new ol.Map({
            interactions: ol.interaction.defaults.defaults({
                mouseWheelZoom: false
            }),
            layers: [
                new ol.layer.Image({
                    name: 'mapMainLayer',
                    source: new ol.source.ImageStatic({
                        url: '{% static 'img/map_high_q.png' %}',


                        projection: projection,
                        imageExtent: extent,
                        imageLoadFunction: function (image, src) {
                            image.getImage().src = src;
                            image.getImage().width = ol.extent.getWidth(extent);
                            image.getImage().height = ol.extent.getHeight(extent);


                        }
                    })
                })
            ],
            target: 'map',
            view: new ol.View({
                projection: projection,
                center: ol.extent.getCenter(extent),
                zoom: 1.8
            })
        });


        map.on('click', function (evt) {

            const feature = map.forEachFeatureAtPixel(evt.pixel, function (feature, layer) {
                return feature
            })

            // Проверьте, был ли щелчок сделан вне всплывающего окна
            if (!feature) {
                map.removeOverlay(popup);
            }
        });

        var sss = 1000;
        var iw = window.innerWidth;

        if (iw < 3000 && iw >= 1890) {
            sss = 1500;
        }
        if (iw < 1890 && iw >= 1440) {
            sss = 1100;
        }
        if (iw < 1440 && iw >= 1024) {
            sss = 1100;
        }
        if (iw < 1024 && iw >= 768) {
            sss = 1200;
        }
        if (iw < 768 && iw >= 426) {
            sss = 1500;
        }

        map.setView(new ol.View({
            center: map.getView().getCenter(),
            extent: map.getView().calculateExtent([sss, sss]),
            zoom: map.getView().getZoom()
        }));
        map.getView().setMaxZoom(18);

        const viewportElement = document.querySelector('.ol-viewport');
        viewportElement.style.overflow = 'visible';

        // Добавим три маркера по координатам на карту
        map.on("pointermove", function (evt) {
            var hit = this.forEachFeatureAtPixel(evt.pixel, function (feature, layer) {
                return true;
            });
            if (hit) {
                this.getTargetElement().style.cursor = 'pointer';
            } else {
                this.getTargetElement().style.cursor = '';
            }
        });

        // Создадим массив координат
        setMarkers(initMarkers(), Array.from({length: 21}, (_, i) => i));
        map.on('click', function (evt) {

            var features;
            map.getLayers().forEach(layer => {

                if (layer.get('name') === 'markerLayer') {
                    features = layer.getSource().getFeatures();
                }
            });
            var markers = features;
            map.forEachFeatureAtPixel(evt.pixel, function (feature, layer) {
                var marker_fields = getFromDb(feature.values_.name);
                popupFunc(evt, marker_fields.name, marker_fields.short_description, "places/" + marker_fields.name, marker_fields.map_id);
            });
        });


        async function popupFunc(evt, name, text, url, id) {
            var is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
            var color_for_svg = "#333D29";

            if (is_authenticated) {
                const response = await $.ajax({
                    url: "/check_fav/",
                    type: "POST",
                    data: {"place-id": id},
                });

                color_for_svg = String(response["color"]);
            }


            var feature = map.forEachFeatureAtPixel(evt.pixel, function (feature, layer) {
                return feature
            })
            if (feature) {
                const content = feature.getGeometry().getCoordinates();
                popup.setPosition(content);
                map.addOverlay(popup);

                document.getElementById('popup-content').innerHTML = `
                        <h1>${name}</h1>
                        <p>${text}</p>
                        <div class='ocenka'>
                        <form action="/${url}">
                            <input class='buttonpodr' type="submit" value="Подробнее" />
                        </form>
                        <a class='love' onclick="addFavourites(${id})">
                        </div>
<svg  width="30" height="30" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_282_37)">
    <path d="M30.936 9.3548C36.4829 9.3818 40.973 13.8718 41 19.4188C41 29.5814 22.5 39.6455 22.5 39.6455C22.5 39.6455 4 29.4335 4 19.4188C4 13.8607 8.50577 9.3548 14.064 9.3548C17.4664 9.32826 20.6473 11.0396 22.5 13.8934C24.3655 11.0534 27.5381 9.34658 30.936 9.3548Z" fill="${color_for_svg}" />
    <path d="M36 1H9C4.58172 1 1 4.58172 1 9V36C1 40.4183 4.58172 44 9 44H36C40.4183 44 44 40.4183 44 36V9C44 4.58172 40.4183 1 36 1Z" stroke="#333D29" stroke-width="2" />
  </g>
  <defs>
    <clipPath id="clip0_282_37">
      <rect width="45" height="45" fill="white" />
    </clipPath>
  </defs>
</svg>
</a>


                        `;
                document.querySelector('#popup-closer').addEventListener('click', function () {
                    map.removeOverlay(popup);
                });
            }
        }


        function getFromDb(map_id) {
            for (const place of places_json) {
                if (place.fields.map_id === map_id) {
                    return place.fields;
                }
            }
            return null;

        }

        function addPanel(id) {
            const panel = document.createElement('div');
            panel.id = 'marshpanel'
            panel.style.position = 'absolute';
            panel.style.top = '20px';
            panel.style.right = '0';

            panel.style.backgroundColor = 'transparent';
            panel.style.display = 'flex';
            panel.style.flexDirection = 'column';


            const button1 = document.createElement('button');
            button1.style.marginTop = '30px';
            button1.style.width = '50px';
            button1.style.height = '50px';
            button1.style.backgroundImage = 'url({% static 'img/return_button.svg' %})';
            button1.style.backgroundSize = 'contain';
            button1.style.border = 'none';
            button1.classList.add('button1');

            const button2 = document.createElement('button');
            button2.style.marginTop = '30px';
            button2.style.width = '50px';
            button2.style.height = '50px';
            button2.style.backgroundImage = 'url({% static 'img/like_button.svg' %})';
            button2.style.backgroundSize = 'contain';
            button2.style.border = 'none';
            button2.classList.add('button2');


            const button3 = document.createElement('button');
            button3.style.marginTop = '30px'
            button3.style.width = '50px';
            button3.style.height = '50px';
            button3.style.backgroundImage = 'url({% static 'img/export_button.svg' %} )';
            button3.style.backgroundSize = 'contain';
            button3.style.border = 'none';
            button3.classList.add('button3');

            panel.appendChild(button1);
            panel.appendChild(button2);
            panel.appendChild(button3);

            map.getViewport().appendChild(panel);

            button1.addEventListener('click', function () {
                deleteMarkers();
                deletePaneL();
                setMarkers(initMarkers(), Array.from({length: 21}, (_, i) => i));
            });

            button2.addEventListener('click', function () {

                saveMarsh(routes_json[id]);
            });

            button3.addEventListener('click', function () {

                var features;
                map.getLayers().forEach(layer => {

                    if (layer.get('name') === 'markerLayer') {
                        features = layer.getSource().getFeatures();
                    }
                });
                var markers = features;
                var temproute = "";
                for (let tempmarker = 0; tempmarker < markers.length; tempmarker++) {
                    temproute += markers[tempmarker].values_.name + "$";
                }
                exportMapRoute(temproute);
            });
        }

        function deletePaneL() {
            const panel = document.getElementById('marshpanel');
            if (panel) {
                panel.parentNode.removeChild(panel);
            }


        }

        function deleteMarkers() {
            let layersTodDelete = [];
            map.getLayers().forEach(layer => {

                if (layer.get('name') === 'markerLayer') {
                    layersTodDelete.push(layer);
                }
            });
            for (let l = 0; l < layersTodDelete.length; l++) {
                map.removeLayer(layersTodDelete[l]);
            }
        }

        function setMarkers(markerCoordinates, mapIDs) {

            // Создадим массив маркеров
            var markers = [];
            for (var i = 0; i < markerCoordinates.length; i++) {
                var marker = new ol.Feature({
                    geometry: new ol.geom.Point(markerCoordinates[i]),
                    name: mapIDs[i]
                });
                markers.push(marker);
            }


            // Создаем стиль для маркеров
            const markerStyle = new ol.style.Style({
                image: new ol.style.Icon({
                    src: '{% static 'img/marker1.png' %}', // путь к изображению маркера
                    scale: 0.2// масштаб маркера

                })
            });

            // Применяем стиль к каждому маркеру
            markers.forEach(marker => {
                marker.setStyle(markerStyle);
            });

            // Создадим векторный слой с маркерами
            var markerVectorLayer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: markers
                })
            });

            var source = markerVectorLayer.getSource();
            source.clear();
            source.addFeatures(markers);

            markerVectorLayer.set('name', 'markerLayer');
            map.addLayer(markerVectorLayer);


        }

        function initMarkers() {
            var markerCoordinates = [];
            var size = 0;
            for (const place of places_json) {
                size += 1;
            }

            for (let i = 0; i < size; i++) {
                var local_fields = getFromDb(i);
                markerCoordinates.push([local_fields.map_x, local_fields.map_y])

            }
            return markerCoordinates;
        }

        function addFavourites(place_id) {

            var is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
            if (!is_authenticated) {
                callToast("Чтобы добавить место в избранные, необходимо войти в аккаунт!", 3000);

            } else {
                $.ajax({
                    url: "/add_fav/",  // URL функции отображения, которую вы хотите вызвать
                    type: "POST",
                    data: {"place-id": place_id},  // Передача аргумента в виде объекта JSON
                    success: function (data) {
                        if (popup.getElement().querySelector('path[fill]').getAttribute("fill") === "#333D29") {
                            popup.getElement().querySelector('path[fill]').setAttribute('fill', "#ff033e");
                        } else {
                            popup.getElement().querySelector('path[fill]').setAttribute('fill', "#333D29");
                        }
                    },
                    error: function (error) {
                        // Обработать ошибки
                    }
                });
            }


        }

        function exportRoute(route) {
            var points = route.fields.marshrut.split("$").map(Number);
            points.pop();
            var tempStr = "";
            for (let icurr = 0; icurr < points.length; icurr++) {
                tempStr += places_json[points[icurr]].fields.geo_x + "," + places_json[points[icurr]].fields.geo_y;
                if (icurr !== points.length - 1) {
                    tempStr += "~";
                }
            }
            var urlExport = "https://yandex.ru/maps/?rtext=" + tempStr + "&rtt=pd";
            window.open(urlExport);
        }

        function exportMapRoute(route) {
            var points = route.split("$").map(Number);
            points.pop();
            var tempStr = "";
            for (let icurr = 0; icurr < points.length; icurr++) {
                tempStr += places_json[points[icurr]].fields.geo_x + "," + places_json[points[icurr]].fields.geo_y;
                if (icurr !== points.length - 1) {
                    tempStr += "~";
                }
            }
            var urlExport = "https://yandex.ru/maps/?rtext=" + tempStr + "&rtt=pd";
            window.open(urlExport);
        }

        function saveMarsh(popular_route) {

            var is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
            if (is_authenticated) {
                $.ajax({
                    url: "/save_route/",  // URL функции отображения, которую вы хотите вызвать
                    type: "POST",
                    data: {
                        "name": popular_route.fields.name,
                        short_description: popular_route.fields.short_description,
                        "route": popular_route.fields.marshrut
                    },  // Передача аргумента в виде объекта JSON
                    success: function (data) {
                        callToast("Маршрут успешно сохранён!", 3000);
                    },
                    error: function (error) {
                        // Обработать ошибки
                    }
                });
            } else {
                callToast("Чтобы добавить маршрут в избранные, необходимо войти в аккаунт!", 3000);
            }
        }

        function exploreMarsh(marshrut) {
            deletePaneL()
            deleteMarkers();
            var ids = marshrut.split("$").map(Number);
            ids.pop();
            var coords = [];

            for (let temp_id in ids) {
                coords.push([places_json[ids[temp_id]].fields.map_x, places_json[ids[temp_id]].fields.map_y])
            }
            setMarkers(coords, ids);
            window.scrollTo({top: document.getElementById('map').offsetTop, behavior: 'smooth'});

        }

        const routes_json = {{ routes|safe }};
        exploreMarsh("{{ order.route.marshrut }}");

    </script>
</div>
</body>
</html>